body{
  color: #404040;font-family: 'Microsoft YaHei','微软雅黑',Tahoma,SimSun,Arial,Helvetica,sans-serif;
  font-size: 12px;font-style: normal;font-variant: normal;line-height: 150%; letter-spacing:1.1px;
}
a {
  text-decoration: none;color: #008080;
}
a:hover {
 color: #FF0000;
}

/*Public begin*/
.w {
 width: 1000px;margin: 0 auto;
}

.sl {
  float: left;width: 740px; overflow:hidden; margin-right:10px;
}
.sr {
  float: left;overflow:hidden; width:250px;
}

.ul_h li {
 float:left;
}
.ul_v li {
  height:27px; line-height:27px; overflow:hidden;
}

.box {
 height:100% auto; background:#FFFFFF;
}
.box .h {
 background:#E0ECFF;overflow:hidden;border:1px solid #95B8E7;
}
.box .c {
 height:100% auto;border:1px solid #95B8E7; border-top:none;
}
.row {
 height:100% auto; overflow:hidden;
}
.row .rl {
 text-align:right; width:100px; float:left;
}
.row .txtm{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 120px; background:#FFFFFF;
}
.row .txt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 200px; background:#FFFFFF;
}
.row .txtl{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 694px; background:#FFFFFF;
}
.row .txtarea{
 border: 1px solid #BBBBBB;width: 98%; height: 80px;padding: 4px 3px;background:#FFFFFF;
}
.row .bd{
 border: 1px solid #BBBBBB;
}

.easyui-accordion a{
 display:block; padding:5px 0;
}

#dlgFm .row .txt{
 border: 1px solid #BBBBBB;height: 16px;padding: 4px 3px;width: 293px; background:#FFFFFF;
}

.txta{
 height:80px; width:300px;
}

/*Admin/Admin.Master*/
#east{
 width:230px;
}

/*bindT*/

.clickStyle{ background-color:#C9E7E9;}

/*header*/
#header{
 background:url('Images/bg_lightgreen.png'); color:#FFFFFF; overflow:hidden;
}
#header a {
 color:#FFF;
}
#header a:hover {
 color: #FF0000;
}
#header .aaa {
 font-weight: 700;font-size:24px; text-align:center; height:40px; line-height:40px;
}
#header .aab {
 font-weight:600; text-align:center;font-size:18px; height:30px; line-height:30px;
}

/*footer*/
#footer .aa {
 text-align:center;
}

.tooltip{ 
 max-width:600px;
}
a.l-btn {
 padding-right: 10px;
}
a.l-btn span.l-btn-left {
padding: 4px 0px 4px 10px;
}

/*Sms*/
#divParam {
 line-height:22px;
}