body, button, input, select, textarea{
  font: 12px/1.5 simsun,arial,tahoma;color: #666;
}

/*top*/
#vt, #vt .w, #vt .fl b, #vt .menu b {
 background-image: url("Images/2014A.png"); background-repeat: no-repeat;
}
#vt{
 line-height:30px; padding-bottom:1px; width:100%;
}
#vt, #vt .w {
 background-color: #EFEFEF;background-repeat: repeat-x;height: 30px;
}
#vt li{
  background-position: -230px -320px;height: 27px;padding: 0 10px;
}
#vt li{
 background-image: url("Images/20120112B.png");background-repeat: no-repeat;
}
#vt .fl .fore1{
 background: none repeat scroll 0 0 transparent; padding-left: 15px;
}
#vt .fr .fore1{
 background: none repeat scroll 0 0 transparent;
}
.lh li, .lh dl, .lh .item {
 float: left;
}

#vt a.link-logout:link, #vt a.link-logout:visited {
 color: #999999;
}
#vt a.link-logout:link, #vt a.link-logout:visited {
 color: #999999;
}
#loginbar a {
 margin-left: 5px;
}

#vt a:link, #vt a:visited {
 color: #333333;text-decoration: none;
}

/*Register.aspx*/
#step li{
 float:left; height:100px; width:100px; background:#FFFFCE; margin-right:10px; padding:10px;
}
#step .aa{
 width:310px;
}
#step p{
 line-height:22px;
}
#step .end{
 margin:0;
}
#step .curr{
 background-color:#EFF1F0; color:#FF9601;
}