<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPDAOrder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8080/Tygaweb/Service/PDAOrderService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDAOrder"
                contract="IPDAOrder" name="BasicHttpBinding_IPDAOrder" />-->
          <endpoint address="http://203.93.106.38/Tygaweb/Service/PDAOrderService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDAOrder"
                contract="IPDAOrder" name="BasicHttpBinding_IPDAOrder" />
        </client>
    </system.serviceModel>
</configuration>